# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pygame/SDL cache
*.pyo

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
.penv/

# OS files
.DS_Store

# IDE files
.vscode/
.idea/
*.swp